# Week4: Introduction Pandas

From this stage Pandas will be the main library we will use to study our data and apply machine learning algorithms. Pandas inherits significant parts of NumPy's idiomatic style of array based computing. Unlike numpy, Pandas allows for heterogeneous data.

In [21]:
import numpy as np
import pandas as pd

Pandas is built around 2 main data structures: __Series__ and __DataFrames__. A __Series__ could be seen as a simple one dimentiona array like object with a sequence of values along with an associated array of labels also known as index.

In [22]:
s_1  = pd.Series([3,4,67,1])

In [23]:
s_1

0     3
1     4
2    67
3     1
dtype: int64

Notice the sequence on the right and on the left we see the index array (0->1). Since we did not specify an index for the data a default one consisting of integers 1 to N is automatically generated by pandas.

In [24]:
s_1.values

array([ 3,  4, 67,  1])

In [25]:
(s_1.index)

RangeIndex(start=0, stop=4, step=1)

In [26]:
type(s_1.values)

numpy.ndarray

In some cases you would want to create a Series with a specific index identifying each data point:

In [27]:
s_2 = pd.Series([0,1,4,2,5],index=['blue','black','yellow','red','white'])

In [28]:
s_2

blue      0
black     1
yellow    4
red       2
white     5
dtype: int64

In [29]:
s_2.index

Index(['blue', 'black', 'yellow', 'red', 'white'], dtype='object')

Compared to numpy we can use the labels as an index when selecting (indexing) values:

In [30]:
s_2['white']

5

In [31]:
s_2[['red','yellow']]

red       2
yellow    4
dtype: int64

As youcan see fancy and boolean indexing also work with pandas as with numpy.

In [32]:
s_2[s_2==1]

black    1
dtype: int64

Applying scar multiplication and math funcion work as well:

In [33]:
s_2 *3

blue       0
black      3
yellow    12
red        6
white     15
dtype: int64

In [36]:
np.exp(s_2)

blue        1.000000
black       2.718282
yellow     54.598150
red         7.389056
white     148.413159
dtype: float64

A Series could also be used in a similar way to how we used dictionaries:

In [38]:
'red' in s_2

True

This also means that if we convert easily a dictionnary into a Series:

In [40]:
my_dict = {'Tony':36,'James':42,'Rebecca':26}

In [41]:
my_s = pd.Series(my_dict)

In [42]:
my_s

Tony       36
James      42
Rebecca    26
dtype: int64

The key defaulted to the index here but if we want to override this by passing dict keys in the order you them to appear in:

In [43]:
names = ['Sarah','Rebecca','James']

In [44]:
my_s2 = pd.Series(my_dict, index=names)

In [45]:
my_s2

Sarah       NaN
Rebecca    26.0
James      42.0
dtype: float64

Notice that the two values found in my_dict were placed in the appropriate locations, but since no value for 'Sarah' was found, it appears as NaN (not a number),which is considered in pandas to mark missing or NA values. Since 'Tony' was not included within the list of names, it does not apprear in the output Series. The isnull and notnull functions in pandas should be used to detect missing data:

In [46]:
pd.isnull(my_s2)

Sarah       True
Rebecca    False
James      False
dtype: bool

In [47]:
pd.notnull(my_s2)

Sarah      False
Rebecca     True
James       True
dtype: bool

Those two methods could be applied directly to the corresponding Series objects:

In [48]:
my_s2.isnull()

Sarah       True
Rebecca    False
James      False
dtype: bool

What happens when we apply arithmetic operations on series?

In [49]:
my_s + my_s2

James      84.0
Rebecca    52.0
Sarah       NaN
Tony        NaN
dtype: float64

Name attributes could be assigned to the Series values and index:

In [50]:
my_s.name='Age'

In [51]:
my_s.index.name='Employee'

In [52]:
my_s

Employee
Tony       36
James      42
Rebecca    26
Name: Age, dtype: int64

A series index can always be altered in-place by assignement:

In [53]:
my_s.index=['Simon','Lara','Mary']

In [54]:
my_s

Simon    36
Lara     42
Mary     26
Name: Age, dtype: int64

In [55]:
print ('test')

test